{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MargDarshan - HPCL Rank Predictor</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'assets/css/rank-style.css'%}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="icon" type="image/png" href="{% static 'assets/img/icon.jpg' %}">
    </head>
    <body>
       
        <div class="content">
            <div class="logo">
                <img src="{% static "assets/img/logo.png" %}">
            </div>

            <div class="exam-name-heading">
                <h3> Predict Your HPCL 2024 Rank <BR>(CH, ME, CE, EE, IN) </h3>
            </div>

            <div class="exam-name-heading">
                <h4> Know Your Rank & Start Preparing for Interview's. </h4>
            </div>

                <div class="textbox">
                    <form id="myForm" method="post" onsubmit="return validateForm()">
                        {% csrf_token %}
                        <div class="textbox-1">
                            <input type="email" id="email" value="" placeholder="Enter Your Email ID" name="email" required>
                            <input type="text" id="mobile" value="" placeholder="Mobile Number" name="mobile" required>
                        </div>
                        <div class="textbox-1">
                            <select id="category" name="category" required>
                                <option value="Select Category"> Select Branch </option>
                                <option value="UNRESERVED"> UNRESERVED </option>
                                <option value="EWS"> EWS </option>
                                <option value="OBC(NCL)"> OBC(NCL) </option>
                                <option value="SC"> SC </option>
                                <option value="ST"> ST </option>
                                <option value="PWD"> PWD </option>
                            </select>
                            <input type="text" id="url" value="" placeholder="Paste Your Response Sheet URL" name="url" required>
                        </div>
                        <div class="textbox-1">
                            <input type="submit" id="submit-button" value="NEXT">
                        </div>
                    </form>
            </div>
        </div>
            <div class="detail-video-faq">
                <div class="detail-video">
                    <h3> How to use HPCL rank predictor. </h3>
                    <iframe id="video-iframe" src="https://www.youtube.com/embed/6A6jV8UEWas" frameborder="0" allowfullscreen></iframe>
                </div>

                <div class="detail-faq">
                    
                    <h2 id="faq-heading">HPCL Rank Predictor FAQ</h2>

                    <div class="faq-container">

                        <div class="faq-question" onclick="toggleFAQ('answer1')">
                            <label>Q: How does the UGC NET rank predictor work?</label>
                            <div class="icon" id="icon1">+</div>
                        </div>
                        <div class="faq-answer" id="answer1">
                            <p>The UGC NET rank predictor uses a predictive algorithm based on historical data and trends to estimate your rank
                                based on your performance in the mock tests and other relevant parameters.</p>
                        </div>

                        <div class="faq-question" onclick="toggleFAQ('answer2')">
                            <label>Q: Can I trust the predicted rank?</label>
                            <div class="icon" id="icon2">+</div>
                        </div>
                        <div class="faq-answer" id="answer2">
                            <p>The predicted rank is an estimate and should be taken as a reference. Actual exam results may vary, and the
                                predictor aims to provide a rough idea based on available data.</p>
                        </div>

                        <!-- Add more FAQ items as needed -->

                    </div>

                </div>
            </div>
        

<!-- Email Verification Modal -->
<div id="emailVerifyModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Email Verification</h2>
        <p>Enter the OTP sent to your email:</p>
        <input type="text" placeholder="OTP" id="otp" name="otp" required>
        <button id="otp-verify-button"  onclick="verifyEmailOTP()">Verify</button>
    </div>
</div>

<script>
    function validateForm() {
        var email = document.getElementById('email').value;
        var mobile = document.getElementById('mobile').value;
        var category = document.getElementById('category').value;
        var url = document.getElementById('url').value;
    
        // Email validation
        var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (!emailRegex.test(email)) {
            alert('Please enter a valid email address.');
            return false;
        }
    
        // Mobile validation
        var mobileRegex = /^[0-9]{10}$/;
        if (!mobileRegex.test(mobile)) {
            alert('Please enter a valid 10-digit mobile number.');
            return false;
        }
    
        // Category validation
        if (category === 'Select Category') {
            alert('Please select a category.');
            return false;
        }
    
        // URL validation
        var urlRegex = /^(ftp|http|https):\/\/[^ "]+$/;
        if (!urlRegex.test(url)) {
            alert('Please enter a valid URL.');
            return false;
        }
    
        SubmitForm();
        return false; // Prevent form submission
    }
    

    function closeModal() {
        document.getElementById('emailVerifyModal').style.display = 'none';
    }

    //save the form data in db
    function SubmitForm() {
        // Get the CSRF token from the cookie
        $.ajax({
            type: 'POST',
            url: '/hpcl-student-save/',
            data: {
                'email': $("input[name='email']").val(),
                'mobile': $("input[name='mobile']").val(),
                'category': $("select[name='category']").val(),
                'url': $("input[name='url']").val(),
                'examname': 'HPCL 2024',
                'subject': 'Chemical Engineering',
                'shift': 'Morning',
                'csrfmiddlewaretoken': getCookie('csrftoken')
            },
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            },
            success: function(data) {
                if(data.status === 'success'){
                    if(data.email_already_verified == '1'){
                        window.location.href = '/rank/{% url "hpcl_response" %}';
                    }
                    else{
                        document.getElementById('emailVerifyModal').style.display = 'block';
                    }
                }
            },
            error: function() {
                alert('Something went wrong, please try again');
                
            }
        });
    }

    function verifyEmailOTP() {
        var otp = document.getElementById('otp').value;
        // Send the OTP to the server for verification
        $.ajax({
            type: 'POST',
            url: '/verify-email-otp/',
            data: {
                'otp': otp,
                'csrfmiddlewaretoken': getCookie('csrftoken')
            },
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            },
            success: function(data) {
                if(data.error){
                    alert(data.error);
                }
                if(data.status === 'success'){
                    window.location.href = '{% url "hpcl_response" %}';   
                }
            },
            error: function(data) {
                alert(data.error);
            }
        });
    }
    // Helper function to get the CSRF token from cookies
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Check if the cookie name matches the CSRF cookie name
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }



    function toggleFAQ(answerId) {
        var selectedAnswer = document.getElementById(answerId);
        var selectedIcon = document.getElementById('icon' + answerId.charAt(answerId.length - 1));

        if (selectedAnswer.style.display === 'none' || selectedAnswer.style.display === '') {
            selectedAnswer.style.display = 'block';
            selectedIcon.textContent = '-';
        } else {
            selectedAnswer.style.display = 'none';
            selectedIcon.textContent = '+';
        }
    }
</script>

    </body>
</html>