{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MargDarshan - HPCL Rank Predictor</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "assets/css/rank-style-3.css" %}">
        <link rel="icon" type="image/png" href="{% static 'assets/img/icon.jpg' %}">
    </head>
    <body>
        <div class="header">
            <div class="logo">
                <img src="{% static "assets/img/logo.png" %}">
            </div>
            <div class="exam-name-heading">
                <h3> HPCL 2024 (CH, ME, CE, EE, IN) </h3>
            </div>
        </div>

        <div class="content">

            <div class="left">
                <div class="analysis">
                    <div class="analysis-left">
                        <img src="{% static "assets/img/ranking.png" %}">
                    </div>
                    <div class="analysis-right">
                        <h4>{{data.Rank}} / {{data.TotalStudent}} </h4>
                        <h5>Current Rank </h5>
                    </div>
                </div>
                
                <div class="analysis">
                    <div class="analysis-left">
                        <img src="{% static "assets/img/button.png" %}">
                    </div>
                    <div class="analysis-right">
                        <h4>{{ data.TotalMarks }}</h4>
                        <h5>Total Marks</h5>
                    </div>
                </div>

                <div class="analysis">
                    <div class="analysis-left">
                        <img src="{% static "assets/img/check-mark.png" %}">
                    </div>
                    <div class="analysis-right">
                        <h4>{{ data.TotalMarks }}</h4>
                        <h5>Normalised Marks</h5>
                    </div>
                </div>
                <div class="analysis">
                    <div class="analysis-left">
                        <img src="{% static "assets/img/examination.png" %}">
                    </div>
                    <div class="analysis-right">
                        <h4>{{data.PositiveMarksinPaper}}</h4>
                        <h5>Positive Marks</h5>
                    </div>
                </div>
                <div class="analysis">
                    <div class="analysis-left">
                        <img src="{% static "assets/img/examination.png" %}">
                    </div>
                    <div class="analysis-right">
                        <h4>{{data.NegativeMarksinPaper}}</h4>
                        <h5>Negative Marks</h5>
                    </div>
                </div>
            
            </div>

            <div class="marks-analysis">
                <div class="exam-mark-analysis">
                    <table class="custom-table">
                        <tr>
                            <th></th>
                            <th>Paper</th>
                            <th>Total</th>
                        </tr>
    
                        <tr>
                            <td>Attempted</td>
                            <td>{{ data.AttemptedQuestionPaper }} / {{ data.TotalQuestionInPaper }}</td>
                            <td>{{ data.TotalQuestionAttempted }} / {{ data.TotalQuestionInPaper }}</td>
                        </tr>
    
                        <tr>
                            <td>Correct</td>
                            <td>{{ data.TotalCorrectQuestion }}</td>
                            <td>{{ data.TotalCorrectQuestion }}</td>
                        </tr>
    
                        <tr>
                            <td>+ve</td>
                            <td>{{ data.PositiveMarksinPaper }}</td>
                            <td>{{ data.TotalPositiveMarks }}</td>
                        </tr>
    
                        <tr>
                            <td>-ve</td>
                            <td>{{ data.NegativeMarksinPaper }}</td>
                            <td>{{ data.TotalNegativeMarks }}</td>
                        </tr>
    
                        <tr>
                            <td>Total Marks</td>
                            <td>{{ data.TotalMarksPaper }}</td>
                            <td>{{ data.TotalMarks }}</td>
                        </tr>
                    </table>
                </div>

                <div class="qualifying-marks-analysis">
                    <div class="qualifying-heading">
                        <h4>Qualifying Marks</h4>
                    </div>
                    <div class="qualifying-category">
                            <h4> 125 </h4>
                            <p> General</p>
                    </div>

                    <div class="qualifying-category">
                        <h4> 123 </h4>
                        <p> OBC(NCL)/EWS</p>
                    </div>

                    <div class="qualifying-category">
                        <h4> 115 </h4>
                        <p> SC/ST/PWD</p>
                    </div>
                </div>

            </div>
        </div>
            
    </body>
</html>

{{ modified_html | safe }}